@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    /* background: url(/images/1.png); */
    background: url(/images/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    display: flex;
    flex-direction: row;
    position:relative;
    padding: 60px 20px 30px 20px;
    height: 550px;
    width: 450px;
    background-color: rgba(255, 220, 220, 0.4);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    border: 3px solid rgba(225, 225, 225, 0.2);
    /* overflow: hidden; */
}
.box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.top-header{
    text-align: center;
    margin: 1px 0;
}
.top-header h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: boldest;
    margin-bottom: 8px;

}
input-group{
    width:100%;
}
.input-field{
    margin: 20px 0;
    position: relative;
}
.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.4);
    backdrop-filter: blur(2px);
    outline: none;
}
/* .input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
} */

#semester {
    border-radius: 10px;
    padding: 3px;
    border: none;
    background: rgba(224, 223, 223, 0.4);
    backdrop-filter: blur(2px);
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}

.remember{
    display: flex;
    font-size: 13px;
    margin: 12px 0 30px 0;
    color: #000;
}
.submit-reset{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    /* background: #bc6202; */
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
    display: block;
    margin: 10px;
}

.submit-reset:hover{
    /* background: #db3e00; */
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}
#submit{
    /* background: #008450; */
    background-image: linear-gradient(to top right, #2d388a, #03b065);
}
#submit:hover{
    color: #040404;
    background: #fff;
}
#reset{
    /* background: #B81D13; */
    background-image: linear-gradient(to top right,  #c82471, #d09192);

}
#reset:hover{
    color: #040404;
    background: #fff;
}